{% extends 'Base.html' %}

{%block nombre%}
    {% if nombre %}
      <li><a href="#"><icon class="icon-user icon-white"></icon> {{nombre}}</a></li>
    {% else %}
        <li><a href="/login"><icon class="icon-user icon-white"></icon> Login</a></li> 
    {% endif %}
{%endblock%}

{% block content %}
<script src="{{ url_for('static', filename='js/formulas.js')}}"></script>
<h3 class="mt-5">Captura de comparativo ISSSTE e IMSS desde Excell</h3>
<div class="row-fluid" >
    <div class="table-responsive" id="muestra">
        <table  class="table table-hover table-condensed" id="imss">
    	   <caption><strong>Fecha del Comparativo <strong>IMSS</strong>  {{fecha}}</strong></caption>
    	   <tbody>
    	        <tr class="success">
                    <td><strong>Clave</strong></td>
                    <td><strong>Nombre</strong></td>
    	       	    <td><strong>IMSSCyVE</strong></td>
    	       	    <td><strong>IMSSEyMP</strong></td>
    	       	    <td><strong>IMSSIyVP</strong></td>
    	       	    <td><strong>IMSSCyVP</strong></td>
    	       	    <td><strong>ImssRTP</strong></td>
    	       	    <td><strong>ImssGuap</strong></td>
                    <td><strong>ImssRetP</strong></td>
                    <td><strong>INFONAP</strong></td>
                    <td><strong>D.INFONA</strong></td>
                    <td><strong>Total</strong></td>
                    <td><strong>captura</strong></td>
                    <td><strong>Diferencia</strong></td>
    	        </tr>
    	        {% for item in data %}
    	            <tr class="info" id="{{item['clave']}}-2">
    	                <td>{{ item['clave'] }}</td>
    	                <td>{{ item['nombre'] }}</td>
                        <td>{{ item['imssCyVE'] }}</td>
    	                <td>{{ item['imssEyMP'] }}</td>
    	                <td>{{ item['imssIyVP'] }}</td>
    	                <td>{{ item['imssCyVp'] }}</td>
                        <td>{{ item['imssRTP'] }}</td>
                        <td>{{ item['imssGuaP'] }}</td>
                        <td>{{ item['imssRetP'] }}</td>
                        <td>{{ item['INFONAVITP'] }}</td>
                        <td>{{ item['DESC. INFONAVIT'] }}</td>
                        <td id="{{item['clave']}}">{{ item['total'] }}</td>
                        <td><input type="text" class="input-small" name="{{item['clave']}}" onBlur="ejemplo('{{item['clave']}}')"tabindex="'{{item['clave']}}'"></td>
    	            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="btn btn-danger" onclick="imprSelec('muestra')">Imprimir </button>
    
        <table class="table table-hover table-condensed">
           <caption><strong> <strong></strong> </strong></caption>
           <tbody>
           </tbody>
        </table>
    </div>
</div>

{% endblock %}
