{% extends 'Base.html' %}
{% block saludo %}
{% endblock %}

{% block calendario %}
{% endblock %}
    	{% if lista %}
    		{% block content %}
    			<div class="table-responsive">
    				<table class="table table-hover">
    					<caption>Datos de Factura</caption>
    					<tbody>
    						<tr>
    							<td class="success"><strong>Fecha</strong></td>
    							<th class="success"><strong>Total</strong></th>
    							<th class="success"><strong>Subtotal</strong></th>
    							<th class="success"><strong>I. V. A.</strong></th>
    							<th class="success"><strong>R. F. C.</strong></th>
    							<th class="success"><strong>Nombre</strong></th>
    							<th class="success"><strong>UUID</strong></th>
    						</tr>
    						<tr>
    							{% for item in lista %}    								
    								<td class="info">
    									{{ item }}
    								</td>    	
    							{% endfor %}
    						</tr>
    					</tbody>
    				</table>
    			</div>
    		{% endblock %}
    	{% else %}
    		{% block login %}
				<br><br>
				<h1>Captura de folio</h1>
    			<form class="form-search" method="POST" enctype="multipart/form-data">
    				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    				<input type="text" class="input-medium search-query" id="folio" name="folio">
  					<button type="submit" class="btn btn-success">Buscar</button>
    			</form>
    			<br>
    			<br>
    			<br>
			{% endblock %}
    	{% endif %}