{% extends 'Base.html' %}


{% block login %}
{% from "_macro.html" import render_field %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row-fluid">
        <form name="sentMessage" id="contactForm" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="input-group">
                <div class="form-goup col-xs-12 floating-label-form-group controls">
                    {{ render_field(form.username, class='form-control', placeholder="Usuario" ) }}
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="input-group">
                <div class="form-goup col-xs-12 floating-label-form-group controls">
                    {{ render_field(form.password, class='form-control', placeholder="Password") }}
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <!--{{ form.honeypot }}-->
            <div class="success">
                <div class="row-fluid">
                    <div class="form-group ">
                        <button type="submit" class="btn btn-info btn-large ">
                            <i class="icon-user icon-large icon-white"></i>
                            Entrar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}

{% block content%}
{% endblock %}
